body {
    background-color: #f8fafc; /* Light gray base */
    background-image: 
        radial-gradient(at 0% 0%, hsla(187, 72%, 70%, 0.3) 0px, transparent 50%),
        radial-gradient(at 100% 100%, hsla(200, 80%, 70%, 0.3) 0px, transparent 50%),
        radial-gradient(at 100% 0%, hsla(180, 50%, 85%, 0.3) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(210, 60%, 80%, 0.3) 0px, transparent 50%);
    background-attachment: fixed;
}

h1{
    color: red;
}